---
---
@charset "utf-8";

* { box-sizing: border-box }

body {
  font-family: "times new roman";
  line-height: 1.5;
  margin: 0 2ex 20ex;
}

body { font-size: 20px }

/* ARTICLE */
article { margin: 2ex 2em 0 2em }
article { max-width: 27em }
article { margin-left: auto; margin-right: auto }

/* SANS SERIFINESS */
h1, h2, p a, li a, time {
  font-family: helvetica; font-size: 85%; font-weight: bold
}

/* HEADERS */
h1 { margin: 0 0 2ex 0 }
h2 { margin: 0 0 4ex 0 }
h2 { display: inline-block }
h2 a { color: #666 }

/* POST DATE */
time { display: block; color: #666 }
time { float: right; font-weight: 300 }
time { margin: 0 1em }

/* BLOCK TYPOGRAPHY */
ul, ol { padding-left: 40px; font-size: 90%; margin: 0 }
p { margin-top: 0; padding-top: 0; margin-bottom: 1ex }

/* POST LIST */
.post-list {
  font-size: 120%;
}

/* BLOCKQUOTES */
aside blockquote { margin: 0; font-size: 70% }
blockquote { font-size: 90%; color: #333 }
blockquote cite { display: block; text-align: right }
blockquote cite { margin-top: 1ex }
article > blockquote { margin: 0 4ex }

/* ASIDES */
aside p { font-size: 70% }
@media (max-width: 940px) {
  aside p {
    border: 1px solid #999;
    padding: 1ex 1.3ex;
    background: rgba(255, 0, 200, 0.1);
    border-radius: 5px;
  }
}

/* BIG MONITORS */
@media (min-width: 940px) {
  aside {
    position: absolute;
    left: 1em;
    width: 12em;
    text-align: right;
  }
  aside p { margin-left: 2em }
  article { margin-left: 16em }
  html { margin: 2ex 2ex 0 0 }
}

/* INLINE TYPOGRAPHY */
cite { font-style: normal }
cite a { color: #333 }
a { text-decoration: none }
a { color: darkblue }
a:visited { color: purple }
