---
---
@charset "utf-8";

* { box-sizing: border-box }

body {
  background: #fff8ff;
  font-family: "times new roman", serif;
  line-height: 1.55;
  margin: 0 2ex 2ex;
  color: #333
}

h1, h2, p a, li a, time {
  font-family: "PT Sans", helvetica, sans-serif; font-weight: bold
}

blockquote {
  font-family: "PT Sans", helvetica, sans-serif;
  font-size: 85%;
}

html { font-size: 24px }
@media (max-width: 1400px) { html { font-size: 23px } }
@media (max-width: 1300px) { html { font-size: 22px } }
@media (max-width: 1200px) { html { font-size: 21px } }
@media (max-width: 1100px) { html { font-size: 20px } }
@media (max-width: 1000px) { html { font-size: 19px } }
@media (max-width: 940px) { html { font-size: 17px } }

h1, h2, time { font-size: 1rem }
article > p a { font-size: 0.9rem; }

/* ARTICLE */
article { margin: 2ex 2em 0 2em }
article { max-width: 30em }
article { margin-left: auto; margin-right: auto }

hr::before { content: "\2600" }
hr { border: none; text-align: center; color: #444; margin: 2ex }

/* HEADERS */
h1 { margin: 0 0 1ex 0 }
h2 { margin: 2ex 0 1ex 0 }
aside > h2 { margin-top: 0; }
h2 { display: inline-block }
h2 a { color: #666 }

/* POST DATE */
time { display: block; color: #666 }
time { float: right; font-weight: 300 }
time { margin: 0 1em }

/* BLOCK TYPOGRAPHY */
ul, ol { padding-left: 40px; font-size: 90%; margin: 0 }
p { margin-top: 0; padding-top: 0; margin-bottom: 2ex }

/* BLOCKQUOTES */
aside blockquote { margin: 0; font-style: italic }
blockquote { color: #333 }
blockquote cite { display: block; text-align: right }
blockquote cite { margin-top: 1ex }
article > blockquote {
  padding: 0 0 0 2ex;
  margin: 0;
  margin-left: 1px;
}

/* ASIDES */
aside { font-family: "PT Sans" }
aside.intro p { font-size: 0.85rem }
aside p, aside blockquote { font-size: 0.75rem }
aside p:last-child { margin-bottom: 0; }

@media (max-width: 940px) {
  aside:not(.plain):not(.intro) {
    margin: 1ex 2ex;
    padding: 1ex 1.3ex;
//    background: #ede;
    float: right;
    width: 12em;
  }

  aside.intro {
    margin: 2ex 3ex;
    padding: 1ex 1.3ex;
  }
}

/* BIG MONITORS */
@media (min-width: 940px) {
  aside {
    position: absolute;
    left: 2em;
    width: 13em;
    text-align: right;
  }
  aside p { margin-left: 2em }
  article { margin-left: 18em }
  html { margin: 2ex 2ex 0 0 }
  article > blockquote { border-left: 4px solid #ede; }
}

/* INLINE TYPOGRAPHY */
cite { font-style: normal }
cite a { color: #333 }
a { text-decoration: none }
a { color: darkblue }
a:visited { color: purple }

footer {
  font-family: "PT Sans", helvetica, sans-serif;
  line-height: 1.8;
  margin: 4rem auto 0;
  color: #aaa;
  font-size: 0.7rem;
  text-align: center;
  width: 20em;
}

footer a {
  font-weight: bold;
  color: #999;
}