---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

* { box-sizing: border-box }

body {
  font-size: 24px; font-family: "times new roman"; line-height: 1.45;
  margin-bottom: 20ex;
}

article { margin: 4ex 2em 0 2em; }
article { max-width: 27em }

h2 a { color: #666 }

h1, h2, p a, li a { font-family: helvetica; font-size: 85%; font-weight: bold; }
/* h1, p a, li a { text-transform: uppercase; letter-spacing: 2px; } */
/* p a, li a { font-size: 75%; padding: 6px; } */
/* p a:hover, li a:hover { background: purple; color: white; border-radius: 3px; } */

li a { margin-left: -6px; }

h1 { margin: 0 0 2ex 0; font-size: 24px; }
h2 { margin: 0 }
h2 { display: inline-block; font-size: inherit; }

time { display: block; color: #666; font-family: helvetica }
time { float: right; font-weight: 300; font-size: 24px; }
time { margin: 0 1em; }

ul, ol { padding-left: 40px; font-size: 90%; }
a { text-decoration: none; }
nav { float: right }

@media (max-width: 940px) {
  article { margin-left: auto; margin-right: auto; }

  aside p {
    border: 1px solid #999;
    padding: 1ex 1.3ex;
    background: rgba(255, 0, 200, 0.1);
    border-radius: 5px;
  }
}

@media (min-width: 940px) {
  aside {
    position: absolute;
    left: 1em;
    width: 12em;
    text-align: right;
  }

  aside p { margin-left: 2em; }
  article { margin-left: 16em; }
}

aside p { font-size: 70%; }

p { margin-top: 0; padding-top: 0; }

.post-list {
  border-top: 2px solid #333;
  padding-top: 1ex;
}

h2 { margin-bottom: 4ex; }

footer { color: #999; }

aside blockquote { margin: 0; font-size: 70%; }

blockquote { font-size: 90%; color: #333; font-style: italic; }
blockquote cite { display: block; text-align: right; }
blockquote cite { margin-top: 1ex; }
cite { font-style: normal; }
cite a { color: #333; }

article > blockquote { margin: 0 6ex; }

a { color: darkblue; }
a:visited { color: purple }